<div class="container">
  <div class="notice">
    <p>ミナトミ皮膚科からのお知らせです。</p>
    <p class="warning">
      熱が37.5度以上全身倦怠感があると思われる方は<br>
      順番予約をされる前にまず000000000にお電話ください<p>
    </p>
    <p>受信時はマスクの着用をお願いします</p>
    <p>aaaa</p>
  </div>
  <div class="information-links">
    <ul>
      <li><a href="#">午後の順番受付</a></li>
      <li><a href="#">飛び火で受信をお考えの方へ</a></li>
      <li><a href="#">呼び出しメールについて</a></li>
      <li><a href="#">休日受信について</a></li>
    </ul>
  </div>
  <h2>
      宅富様の受付画面です
  </h2>
  <div class="action-links">
    <ul>
      <li><a href="#">受付する</a></li>
      <li><a href="#">受付確認</a></li>
      <li><a href="#">本日の受信状況</a></li>
    </ul>
  </div>
  <h2>その他のメニュー</h2>
  <div class="navigation-links">
    <ul>
      <li><a href="#">家族登録</a></li>
      <li><a href="#">メール設定</a></li>
      <li><a href="#">使い方ガイド</a></li>
      <li><a href="#">ご利用規約</a></li>
    </ul>
  </div>
</div>