<div class="container">
  <div class="row">
    <div class="col-12">
      
    </div>
  </div>
</div>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">名前</th>
      <th scope="col">状態</th>
      <th scope="col">電話番号</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer|%>
    <tr>
      <th scope="row">1</th>
      <td>
        <%= link_to admin_customer_path(customer) do %>
          <div><%= customer.first_name %></div>
        <% end %>
      </td>
      <td><%= customer.is_deleted %></td>
      <td><%= customer.phone_number %></td>
    </tr>
    <% end %>
  </tbody>
</table>