/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
body {
  margin: 0px;
  background-color: rgb(248,238,238);
}

ul {
  list-style: none;
  padding: 0;
}

header {
  background-color: rgb(253,249,249);
  padding: 8px;
}

header p {
  text-align: center;
  margin: 0px;
  margin-bottom: 3px;
}

.container {
  width: 800px;
  margin:0 auto;
  padding: 10px 20px;
  background-color: white;
}

.notice {
  padding: 10px;
  border: solid 2px red;
}

p.warning{
  color: red;
  font-size: 18px;
}

.information-links li a{
  color: red;
}

h2 {
  background-color: rgb(131 167 245);
  box-shadow: 2px 2px #a9a9a9;
  border-radius: 8px;
  text-align: center;
  color: white;
  font-size: 20px;
}

.action-links li{
  background-color: rgb(245 245 245);
  border: solid 1px;
  padding: 3px;
}

.action-links li a{
  display: block;
  padding: 5px 23px;
  font-size: 23px;
  color: black;
  text-decoration: none;
}

.action-links li:first-child{
  border-radius: 8px;
}

.action-links li:last-child{
  border-radius: 0px 0px 8px 8px;
}

.navigation-links ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 10px;
}

.navigation-links li a{
  display: block;
}